*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.left-side{
    height: 100vh;
    background: rgb(235, 226, 226);
}
.right-side{
    height: 100vh;
    /* background: rgb(245, 240, 240); */
    margin-top: -100px;
    border-left: 1.5px solid gray;
}
.navbar{
    background:rgb(4, 98, 98);
}
.container{
    margin-left: -15px;
    
}
.search{
    background: white;
}
h1{
    color: white;
}
.left-side .btn{
    margin-left: 30px;
    background: blue;
    color: white;
    margin-right: 10px;
    padding: 7px;

}
.left-side .btn:hover{
    padding: 9px;
}
.left-side h2{
    margin-left: 25px;
    color: rgb(64, 62, 62);
    font-size: 2em;
}
.left-side p{
    margin-left: 25px;
}
hr{
    border-width: 2px;
}
.right-side .form-group{
    margin: 100px;
   
}
b{
    font-size: 25px;
}
.right-side .form-control{
    background: rgb(246, 240, 240);
}

  .right-side .btn{
    /* margin-left: 20em; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1vh;
    margin-top: 1em;
    justify-content: flex-end;
  }
  b{
    color: rgb(64, 62, 62);
  }


